@import url("./cards.css");
@import url("./header.css");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     background-color: #b9b5b59d;
     margin: 20px;
     
}